{% extends "IbovedTestBundle::layout.html.twig" %}

{% block title "Facts - Space" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Space FACTS</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_space_hello', {'name': 'World'}) }}">Hello World!</a>
            <a href="{{ path('random', {'limit': '100'}) }}">Generate random</a></li>
        <li><a href="{{ path('_space_sun') }}">Sun</a>
            <a href="{{ path('_space_mercury') }}">Mercury</a>
            <a href="{{ path('_space_venus') }}">Venus</a>
            <a href="{{ path('_space_earth') }}">Earth</a>
            <a href="{{ path('_space_mars') }}">Mars</a></li>
    </ul>
{% endblock %}

{% set code = code(_self) %}
